.person{
    position: absolute;
    bottom: 46px;
    width: 88px;
    text-align: center;
    transition: left 0.14s linear, transform 0.12s;
}

.Sora{
    left: 56px;
}

.move {
    right: 56px;
    transition: left 0.14s linear, transform 0.12s;
}

.Riku{
    right: 56px;
}

.imgbase{
    width: 100px;
    height: 100px;

}

.img{
    transform: scaleX(-1);
}