
.coin {
    font-size: 32px;
    position: absolute;
    transition: left 250ms ease-in;
}

.coin.left {
    left: 76px;
}

.coin.right {
    left: calc(100% - 126px); /* ajusta conforme a largura do container */
}